h1{


background-color: white;
padding-left: 20px;
}

body{
  background-image: url(asa.jpg);
background-size:cover;
font-family: "Open Sans Condensed", sans-serif;

}

div{
  width: 780px;
  margin: auto;
  border: 5px solid #174460;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;
  background-color: #ffffff;
  padding: 40px;
}

.red{
  
}

.pink{
 
}

.violet{

}

.date{
  float: right;
}

section {
  clear: both;
}
