h1 {
    background-color: white;
    padding-left: 20px;
}
body {
    background-image: url(asaa.jpg);
    background-size: cover;
    font-family: "Open Sans Condensed", sans-serif;
}
div {
    width: 780px;
    margin: auto;
    border: 2px solid #174460;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    background-color: #ffffff;
    padding: 40px;
}
.osef {
    margin-left: 5%;
}
.mrde {
    margin-right: 80%;
}
.fd {
    margin-left: 6%;
}
.left {
    margin-left: 5%;
}
.red {
    margin-bottom: 2%;
    text-align: center;
    border: black solid 1px;
    font-weight: bold;
}
.date {
    float: right;
    font-weight: bold;
}
section {
    clear: both;
}
.izi {
    text-align: left;
    list-style: none;
    font-style: italic;
}
.pls {
    margin-right: 90%;
}
.nnn   {
  border: black solid 1px;
  padding-left: 44%;
}
