h1{
  color:blue;
border: 5px solid violet;
background-color: white;
padding-left: 20px;
}

body{
  background-image: url(bgi.jpg);
background-size:cover;
font-family: "Open Sans Condensed", sans-serif;
  color: #0000CD;
}

div{
  width: 780px;
  margin: auto;
  border: 5px solid #174460;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;
  background-color: #ffffff;
  padding: 40px;
}

.red{
  color:red;
}

.pink{
  color:  #DC143C;
}

.violet{
  color: #9400D3;
}

.date{
  float: right;
}

section {
  clear: both;
}
.diplome{
  width:50%;
}
